<div class="container">
    <h1>Angular 18 CRUD </h1>
    
    <a href="#" routerLink="/create" class="btn btn-success">Create New Mail</a>
      
    <table class="table table-striped">
        <thead>
              <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Reciver</th>
                <th>Objet</th>
                <th>Description</th>
                <th width="250px">Action</th>
              </tr>
        </thead>
        <tbody>
              <tr *ngFor="let model of models">
                <td>{{ model.id }}</td>
                <td>{{ model.email }}</td>
                <td>{{ model.reciver }}</td>
                <td>{{ model.objet }}</td>
                <td>{{ model.description }}</td>
                
                <td>
                  <a href="#" routerLink="/View" class="btn btn-info">View</a>
                  <a href="#" routerLink="/edite" class="btn btn-primary">Edit</a>
                  <button type="button" (click)="deleteMail(model.id)" class="btn btn-danger">Delete</button>
                </td>
              </tr>
        </tbody>
    </table>
 </div>