<div class="container">
    <h1>Create New Mail</h1>
  
    <a href="#" routerLink="/index" class="btn btn-primary">Back</a>
        
    <form [formGroup]="form" (ngSubmit)="submit()">
  
        <div class="form-group">
            <label for="">Email:</label>
            <input 
                formControlName="email"
                id="email" 
                type="email" 
                [(ngModel)]="model.email"
                class="form-control">
            <div NgIf="f['email'].touched & f['email'].invalid" class="alert alert-danger">
                <div NgIf="f['email'].errors & f['email'].errors['required']">
                Title is required.
                </div>
            </div>
        </div>



        <div class="form-group">
            <label for="">Reciver Email:</label>
            <input 
                formControlName="reciver email"
                id="email" 
                type="email" 
                [(ngModel)]="model.emailToRecive"
                class="form-control">
            <div NgIf="f['emailToRecive'].touched & f['emailToRecive'].invalid" class="alert alert-danger">
                <div NgIf="f['emailToRecive'].errors & f['emailToRecive'].errors['required']">
                Reciver Email is required.
                </div>
            </div>
        </div>



        <div class="form-group">
            <label for="objet">Objet:</label>
            <input 
                formControlName="Objet"
                id="objet" 
                type="text" 
                [(ngModel)]="model.Objet"
                class="form-control">
            <div NgIf="f['objet'].touched & f['objet'].invalid" class="alert alert-danger">
                <div NgIf="f['objet'].errors & f['objet'].errors['required']">
                Objet is required.
                </div>
            </div>
        </div>
  
        <div class="form-group">
            <label for="">description</label>
            <textarea 
                formControlName="description"
                id="description" 
                type="text" 
                [(ngModel)]="model.description"
                class="form-control">
            </textarea>
            <div NgIf="f['description'].touched & f['description'].invalid" class="alert alert-danger">
                <div NgIf="f['description'].errors & f['description'].errors['required']">
                    description is required.
                </div>
            </div>
        </div>
  
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
    </form>
</div>