<div class="container">
    <h1>View Mail</h1>
  
    <a href="#" routerLink="/index" class="btn btn-primary">Back</a>
   
    <div>
        <strong>ID:</strong>
        <p>{{ model.id }}</p>
    </div>
   
    <div>
        <strong>Email:</strong>
        <p>{{ model.email }}</p>
    </div>
       
    <div>
        <strong>Reciver Email:</strong>
        <p>{{ model.emailToRecive }}</p>
    </div>

       
    <div>
        <strong>Objet:</strong>
        <p>{{ model.Objet }}</p>
    </div>
   
    <div>
        <strong>Description:</strong>
        <p>{{ model.description }}</p>
    </div>
   
</div>